* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.navbar-nav .nav-item {
  margin-right: 32px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

ul li a,
ul li a:before {
transition: all .5s;
}

ul li a {
  position: relative;
}

ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #5CB85F;
  height: 1px;
  transition: all 0.7s;
}

ul li a:hover:after {
  width: 100%;
}

.navbar span, .btn__offcanvas{
  display: none;
}

.button {
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
  background-color: #5CB85F;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.button:hover {
  background-color: #2f7e31;
  transition: all .3s;
}

#home {
  padding-top: 3rem;
  background-color: #f1f3ff;
}

#our__services, #why__us, #testimonial, #cta__banner, #faq {
  padding-top: 100px;
}

footer {
  padding-top: 150px;
}

.services {
  margin-top: 10px;
}

.form-signin {
  width: 50%;
  margin: auto;
}

.card__border {
  border: 1px solid #D0D0D0;
}

.card__border--warning:hover {
  background-color: #F9CC00;
  color: #fff;
}

.card__border--danger:hover {
  background-color: #FA2C5A;
  color: #fff;
}

.card__border--darkblue:hover {
  background-color: #0D28A6;
  color: #fff;
}

.card__border--limegreen:hover {
  background-color: #5CB85F;
  color: #fff;
}

.bg--aliceblue {
  background-color: #f1f3ff;
}

.testimonial__rating {
  max-height: 16px;
}

.testimonial__name {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: black;
  line-height: 0px;
}

.testimonial__media {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 50%;
}

.testimonial__img {
  transition: transform .2s;
}

.testimonial__img:hover {
  transform: scale(1.26);
}

.testimonial__media:hover {
background-color: #04AA6D;
color: white;
}

.cta__banner {
  background-color: #0D28A6;
  border-radius: 13px;
}

.cta__banner > .col {
  margin-top: 64px;
}

.cta__banner > .col > button {
  margin-top: 52px;
  margin-bottom: 64px;
}

.accordion-button > p {
  margin-bottom: 0;
}

.accordion-item:nth-child(2) {
  margin-top: 16px;
}

.accordion-item:nth-child(3) {
  margin-top: 16px;
}

.accordion-item:nth-child(4) {
  margin-top: 16px;
}

.accordion-item:nth-child(5) {
  margin-top: 16px;
}

.accordion-header {
  border: 1px solid #D4D4D4;
}

.icon-footer img{
  margin-right: 16px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.services span {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.navigation p a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}